/*
#3a353f
#505668
#f1ece1
#c05850
.
#e2ab7f
*/
body{
  background-color: #3a353f;
  padding-top: 85px;
}
.header{
  background-color: #505668;
  padding: 5px;
  -webkit-box-shadow: 0px 10px 9px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 9px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 9px -5px rgba(0,0,0,0.75);
  position: fixed;
} .header hr{
  border-top: 1px solid red;
}
.imgPerfil{
  width: 40px;
  margin-left: 15px;
}
.txtHeader{
  font-size: 30px;
}
.menu{
  text-align: center;
  background-color: #505668;
} .menu a{
    font-size: 12px;
    color: #000000;
}
.portada{
  color: #c6c6c6;
} .portada img {
  width: 170px;
  display: flex;
  margin: 0 auto;
}
.tarjeta{
  padding: 10px;
  background-color: #999999;
} .tarjeta img{
  display: flex;
  margin: 0 auto;
  width: 50px;
} .tarjeta ul{
  list-style: none;
}
footer{
  background-color: #505668;
} footer p{
  margin: 0;
  font-size: 12px;
} footer img{
  width: 150px;
  float: right;
}
